.FirstAuthView{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.FirstAuthView h1{
    font-size: 3rem;
}
.FirstAuthView h2{
    text-align: center;
}
.FirstAuthView-buttons-div{
        margin-top: 20px;
}
.FirstAuthView-buttons-div button{
    width: 100px;
}
.FirstAuthView h4{
    margin-bottom: 0;
}
.FirstAuthView > button{
    width: 330px;
}


.signup-form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signup-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(104, 104, 104, 0.484);
    width: 50%;
    height: 40%;
    min-width: 220px;
}
.signup-form input{
    width: 100%;
    height: 100%;
    color: black;
    font-weight: bold;
}
.username-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.password-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.signup-form form > button{
    width: 80%;
}
.signup-form label{
    width: 100%;
    margin: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}