.home-dataStructures-section{
    width: 100%;
    height: 100%;
}
.home-dataStructures-section h6,
.home-dataStructures-section h3{
    margin-left: 10px;
}
.home-dataStructures-section h3{
    margin-top: 30px;
}
.implementation{
    margin-top: 20px;
}
.ds-text{
    margin-left: 10px;
}
.home-dataStructures-section img{
    padding: 20px 50px;
    margin-left: -5px;
}